src/META-INF/wsdl/localhost_8080/Calc/Calc.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pack1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pack1/" name="Calc">
<types>
<xsd:schema>
<xsd:import namespace="http://pack1/" schemaLocation="http://localhost:8080/Calc/Calc?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="divide">
<part name="parameters" element="tns:divide"/>
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse"/>
</message>
<message name="substract">
<part name="parameters" element="tns:substract"/>
</message>
<message name="substractResponse">
<part name="parameters" element="tns:substractResponse"/>
</message>
<message name="mul">
<part name="parameters" element="tns:mul"/>
</message>
<message name="mulResponse">
<part name="parameters" element="tns:mulResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="Calc">
<operation name="add">
<input wsam:Action="http://pack1/Calc/addRequest" message="tns:add"/>
<output wsam:Action="http://pack1/Calc/addResponse" message="tns:addResponse"/>
</operation>
<operation name="divide">
<input wsam:Action="http://pack1/Calc/divideRequest" message="tns:divide"/>
<output wsam:Action="http://pack1/Calc/divideResponse" message="tns:divideResponse"/>
</operation>
<operation name="substract">
<input wsam:Action="http://pack1/Calc/substractRequest" message="tns:substract"/>
<output wsam:Action="http://pack1/Calc/substractResponse" message="tns:substractResponse"/>
</operation>
<operation name="mul">
<input wsam:Action="http://pack1/Calc/mulRequest" message="tns:mul"/>
<output wsam:Action="http://pack1/Calc/mulResponse" message="tns:mulResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://pack1/Calc/helloRequest" message="tns:hello"/>
<output wsam:Action="http://pack1/Calc/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="CalcPortBinding" type="tns:Calc">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="substract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calc">
<port name="CalcPort" binding="tns:CalcPortBinding">
<soap:address location="http://localhost:8080/Calc/Calc"/>
</port>
</service>
</definitions>